- id: '1706905294258'
  alias: Wohnzimmerheizung geht an
  description: ''
  trigger:
  - platform: state
    entity_id:
    - number.wohnzimmer_heizung_01_valve_position
  condition:
  - condition: numeric_state
    entity_id: number.wohnzimmer_heizung_01_valve_position
    above: 0
  action:
  - type: turn_on
    device_id: d9429dd94bc4bf721bedb4ff9bb2e0c0
    entity_id: e95f9ffd5fed1e31cfcbcbdaec51ecfd
    domain: switch
  mode: single
- id: '1706905325310'
  alias: Wohnzimmerheizung geht aus
  description: ''
  trigger:
  - platform: numeric_state
    entity_id:
    - number.wohnzimmer_heizung_01_valve_position
    for:
      hours: 0
      minutes: 5
      seconds: 0
    below: 1
  condition: []
  action:
  - type: turn_off
    device_id: d9429dd94bc4bf721bedb4ff9bb2e0c0
    entity_id: e95f9ffd5fed1e31cfcbcbdaec51ecfd
    domain: switch
  mode: single
- id: '1717938966464'
  alias: Get weather forecast
  description: ''
  trigger:
  - platform: time_pattern
    minutes: /5
  condition: []
  action:
  - service: weather.get_forecasts
    target:
      entity_id: weather.home
    data:
      type: daily
    response_variable: daily
  mode: single
- alias: Update Watermeter History
  trigger:
    platform: time_pattern
    minutes: /5
  action:
    service: homeassistant.update_entity
    target:
      entity_id: sensor.epaper_watermeter_history
  id: 7ceeef4183db44a69eb15dc3985a8864
- alias: Update Power Main History
  trigger:
    platform: time_pattern
    minutes: /5
  action:
    service: homeassistant.update_entity
    target:
      entity_id: sensor.epaper_power_history
  id: 79b4a9f16f6f4fd3aeca653a2961bba9
- id: '1768683019731'
  alias: ESL Temperature and Humidity WZ and Outside
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.klima_ausen_temperatur
    - sensor.klima_wohnzimmer_temperatur
    - sensor.klima_ausen_luftfeuchtigkeit
    - sensor.klima_wohnzimmer_luftfeuchtigkeit
  actions:
  - target:
      device_id: 62b68791e3762f3875499e1919151f45
      entity_id: open_epaper_link.0000185157BA2010
    data:
      background: white
      payload:
      - type: text
        value: 'Außen:'
        x: 10
        y: 10
        size: 45
      - type: text
        value: '{{ states(''sensor.klima_ausen_temperatur'') }}°C'
        x: 220
        y: 10
        size: 45
      - type: text
        value: 'WohnZ:'
        x: 10
        y: 60
        size: 45
      - type: text
        value: '{{ states(''sensor.klima_wohnzimmer_temperatur'') }}°C'
        x: 220
        y: 60
        size: 45
      - type: icon
        value: water-percent
        x: 10
        y: 110
        size: 50
        color: black
      - type: text
        value: Out {{ states('sensor.klima_ausen_luftfeuchtigkeit') }}% | In {{ states('sensor.klima_wohnzimmer_luftfeuchtigkeit')
          }}%
        x: 60
        y: 120
        size: 30
      dry-run: false
      rotate: 0
      ttl: 60
      dither: '0'
    action: open_epaper_link.drawcustom
  mode: restart
