
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
template: !include templates.yaml

rest_command:
  # bathroom
  shellytrv_bad_set_external_temperature:
    # Variable "temperature": Temperatur in °C (als Float)
    url: http://192.168.2.23/ext_t?temp={{temperature}}
  shellytrv_bad_set_window_state:
    # Variable "state": "open" (Fenster offen) oder "close" (Fenster geschlossen)
    url: http://192.168.2.23/window?state={{state}}
  # LEA
  shellytrv_lea_set_external_temperature:
    # Variable "temperature": Temperatur in °C (als Float)
    url: http://192.168.2.33/ext_t?temp={{temperature}}
  shellytrv_lea_set_window_state:
    # Variable "state": "open" (Fenster offen) oder "close" (Fenster geschlossen)
    url: http://192.168.2.33/window?state={{state}}
  # ... Services für die anderen Thermostate

sensor:
  - platform: sensor_history
    entity_id: sensor.watermeter_value
    name: "epaper_watermeter_history"
    bearertoken: !secret bearer_token
  - platform: sensor_history
    entity_id: sensor.power_main_total_active_power
    name: "epaper_power_history"
    factor: 1
    mode: "absolute"
    aggregate: "sum"
    aggregate_key: "hour"
    bearertoken: !secret bearer_token
  - platform: filter
    name: "Panel 1 (Moving Average)"
    entity_id: sensor.solarbank_3_e2700_pro_solar_pv1
    filters:
      - filter: time_simple_moving_average
        window_size: "00:30"
        precision: 0
  - platform: filter
    name: "Panel 2 (Moving Average)"
    entity_id: sensor.solarbank_3_e2700_pro_solar_pv2
    filters:
      - filter: time_simple_moving_average
        window_size: "00:30"
        precision: 0
  - platform: filter
    name: "Panel 3 (Moving Average)"
    entity_id: sensor.solarbank_3_e2700_pro_solar_pv3
    filters:
      - filter: time_simple_moving_average
        window_size: "00:30"
        precision: 0
  - platform: filter
    name: "Panel 4 (Moving Average)"
    entity_id: sensor.solarbank_3_e2700_pro_solar_pv4
    filters:
      - filter: time_simple_moving_average
        window_size: "00:30"
        precision: 0



input_text:
  teams_status:
    name: Microsoft Teams status
    icon: mdi:microsoft-teams
  teams_activity:
    name: Microsoft Teams activity
    icon: mdi:phone-off

input_boolean:
  trigger_forecast_update:
    name: Trigger Forecast Update
    initial: off
    icon: mdi:update

http:

logger:
  default: info
  logs:
    homeassistant.components.python_script: debug
    custom_components.sensor_history: debug
    homeassistant.components.sensor: debug