# ===========================================
# HUMIDITY AND MOLD RISK SENSORS
# ===========================================
- sensor: !include templates_moldhumidity_sensors.yaml

# ===========================================
# E-PAPER DISPLAY SENSORS
# ===========================================
- sensor: !include templates_epaper_sensors.yaml

# ===========================================
# PHOTOVOLTAIK SENSORS
# ===========================================
- sensor: !include templates_photovolt_sensors.yaml

# ===========================================
# E-PAPER BINARY SENSORS
# ===========================================
- binary_sensor: !include templates_epaper_binarysensors.yaml

# ===========================================
# FORECAST TRIGGER AND SENSOR
# ===========================================
- trigger:
    - platform: time_pattern
      hours: /2
    - platform: homeassistant
      event: start
    - platform: state
      entity_id: input_boolean.trigger_forecast_update
      to: 'on'
  action:
    - service: weather.get_forecasts
      data:
        type: daily
      target:
        entity_id: weather.home_2
      response_variable: daily
  sensor:
    - name: Forecast next days
      unique_id: forecast_next_days
      state: >
        {% if daily is defined and 'weather.home_2' in daily %}
          {{ daily['weather.home_2'].forecast[0].condition }}
        {% else %}
          unavailable
        {% endif %}
      attributes:
        forecast: >
          {% if daily is defined and 'weather.home_2' in daily %}
            {{ daily['weather.home_2'].forecast }}
          {% else %}
            []
          {% endif %}